.hide{
display:none;
}

td{
text-align: center;
font-weight:bold;
color: #63639C;
}
.cuerpo{
  background-color: #efefef;
  margin: 0 17%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}
.selectors_calendario{
display: flex;
justify-content: center;
margin-top: 20px;

}
.calendario{
 margin: 0 12%;
}
.selectors_calendario2{
 display: flex;
 justify-content: center;
 margin-top: 10px;
 display: flex;
 justify-content: space-around;
}
.ocupado{
background-color: #282C34;
color: #606c76;
}

#prev{
padding-right: 10px;
background-image: url(../img/esc.png);
background-repeat: no-repeat;
}

#next{
padding-left: 10px;
background-image: url(../img/dre.png);
background-repeat: no-repeat;
}
#Mes{
padding: 0 30px;
}


/* Footer */
.footer {
  margin: 0 17%;
}

.titulo_hora{
display: flex;
justify-content: center;
margin-top: 20px;
}
.selectors_hora{
margin: 1% 18%;
}
.botones_hora{
 display: flex;
 justify-content: center;
 margin-top: 10px;
 justify-content: space-around;
}


.botoenviar{
  display: flex;
  justify-content: center;
}

.titulo_formulario{
display: flex;
justify-content: center;
margin-top: 20px;
text-decoration: underline;
}

.titulo_confir{
display: flex;
justify-content: center;
margin-top: 20px;
text-decoration: underline;
}

.datosjuntos{
 margin-top: 10px;
 display: flex;
 justify-content: space-around;
padding-left: 55px;
}


.datos_confir{
 display: flex;
 justify-content: center;
 font-size: 20px;
}

.botones_panell{
 display: flex;
 justify-content: space-around;
  margin-top: 10px;
}

.lista_sencerca{
 display: flex;
 justify-content: center;
 font-size: 20px;
}