/* Global */
html{
  background-image: url(../img/Background.png);
  background-repeat: repeat;
}
.admin{
background-image: url(../img/admin.png);
  background-repeat: no-repeat;

  padding-rigth: 15px;
  padding-left: 15px;
}




/* Encabezado */
.cuerpo{
  margin: 0 17%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header{
  background-image: url(../img/moodle.jpg);
  background-repeat: repeat;
  border-bottom: 10px solid #63639C;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
	color: #FF9B21;
	text-shadow: 0 2.36px 1.896px #AA5E00, -1px -2px 1px #FF9B21;
}
.logos_cabecera{
  margin-left: 10%;
  margin-right: 10%;
  width: 200px;
  margin: 2%
}
nav{
  background-color: #FF9B21;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav_principal{
  display:flex;
	justify-content: center;
  font-size: 21px;
}
.nav_principal > a{
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid #E48E25;
  border-right: 2px solid #E48E25;
  border-bottom: 2px solid #E48E25;
}
.nav_principal > a{
  padding-top: 0.4%;
}
.nav_principal a:hover{
  border-bottom: 2px solid #696BB3;
	background-color: #FFCB8C;
}





/* Slider */
.slider {
  margin-bottom: -40px;
  margin-top: 6px;
  overflow: hidden;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}
.slider:before {
    content: '';
    display: block;
    background: transparent url(../img/fondo-banner.png) repeat scroll center center;
    opacity: 0.8;
    position: absolute;
    width: 66%;
    height: 55.1%;
    z-index: 2;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}





/* Parte delantera Slider */
.titulo{
  position: absolute;
  font-size:2em;
  margin-left: 23%;
  margin-top: -15%;
  color: white;
  z-index: 2;
  font-size: 3em;
  font-family: impact;
}
.matricula{
  position: absolute;
  font-size: 1.5em;
  margin-left: 8%;
  margin-top: -5%;
  color: white;
  z-index: 2;
  display: inline-block;
  text-transform:uppercase;
}
.enviar{
  background-image: url(../img/icon_form.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
input:required:invalid {
border: 1px solid red;
}
 
input:required:valid {
border: 1px solid green;
}






/* Cuadros */
.recuadro{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  height: 200px;
  padding-left: 62px;
  padding-right: 63px;
  background-color: #FFC175;
  border: 1px solid black;
}
.recuadro a:hover{
text-decoration: underline;
}
.recuadros{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 32px;
}





/* Footer */
.footer {
  padding-top: 10px;
  font-size: 12px;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  background-color: #a7a7a7;
  border-top: 0.6px solid #d6d4d4;
  box-shadow: 1px 4px 8px 1px rgba(1, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}