header{
  left:0px;
  white:30px;

  background:#E6E6E6;
  position: fixed;
}
li{
   list-style-type: none;
   display: inline;
   padding-right: 15px;
   font-size: 23px;

}
.titulo_principal{
  text-align: center;
  list-style-type: none;
  display: inline;

}
.footer {

   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#E6E6E6;
}


.div_principal{
  display: flex;
  justify-content: space-around;
}
.div_menu_principal{
display: inline-block;
}
