.zonapar{
  background-color: #EEEEEE;
}
header{
  background-color: #0371B3;
  border-bottom: 5px solid #0A4F7F;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logos_cabecera{
  width: 150px;
	display: inline-block;
	margin: 10px;
}
/*div{
  border: 1px solid black;
}*/
nav{
  background-color: #FF9B21;
	height: 30px;
}
.nav_principal{
  display:flex;
	justify-content: center;
}
.nav_principal > a{
  padding-left: 30px;
  padding-right: 30px;
  border-left: 0.5px solid #E48E25;
  border-right: 0.5px solid #E48E25;
}

.nav_principal a:hover{
  border-bottom: 4px solid #696BB3;
	background-color: #FFCB8C;
}

.intereses{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
	height: 200px;
  font-size: 23px;
}
.derecha > a{
  flex-direction: column;
}
.izquierda > a{
    flex-direction: column;
}
.nosotros{
  margin-left: 200px;
  margin-right: 200px;
}
.citas{
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  left:0px;
  height:150px;
  padding-top: 100px;
}
.izquierda img{
  border: 1px solid black;
  border-radius: 800px;
}
.tituloIntereses{
  padding-left: 10px;
}
.descripIntereses{
  font-size: 10px;
}










.slider {
  margin-left: 200px;
  margin-right: 200px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -40px;
  overflow: hidden;
}

.matricula{
    margin-bottom: -30px;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 10s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}


/*
nav{
  margin-left: -7px;
  margin-right: -7px;
  height: 40px;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: orange;
}

.nav_principal {
  text-align: center;

  list-style-type: none;

  display:flex;
	justify-content: space-between;
}

}
.intereses{
  margin-left: 200px;
  margin-right: 200px;
}
.nosotros{
  margin-left: 200px;
  margin-right: 200px;
}
.citas{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
}
.footer {
  text-align: center;

   left:0px;
   bottom:0px;
   height:30px;

   background:#E6E6E6;
}
.intereses{
  display: flex;
  flex-direction: row;
}

.derecha{
  display: flex;
  flex-direction: column-reverse;
}
 h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
.nosotros img{
border-radius: 50%;
}

.nosotros {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.nosotros > div {
        width: 50%;
        padding: 10px;
}

.zonapar > div:first-child {
        margin-right: 20px;
}*/
